* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background: #eee;
}

#text-container {
    text-shadow: 2px 2px 2px grey;
    color: black;
    padding-top: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.button-container {
    width: 200px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-container>div {
    cursor: pointer;
    padding: 8px;
    background: dodgerblue;
    color: #ffffff;
    border-radius: 5px;
}

.button-container>div:active {
    opacity: .8;
}

#dialog {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    display: none;
    font-weight: bolder;
    top: 240px;
    border: 0;
    background: rgba(255, 255, 255, .8);
}

#dialog .dialog-content {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px
}

#dialog .dialog-button {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}

#dialog .dialog-button div {
    padding: 10px;
    background: rgba(204, 204, 204, .6);
}

.about {
    width: 100%;
    margin-top: 10vh;
    padding: 40px;
    background: #fff;
    box-shadow: 2px 0 rgb(0 0 0 / 12%);
    border-radius: initial;
}

#canvas-container {
    position: relative;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

#chess {
    background: rgba(255, 255, 255, .7);
    display: block;
    box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
}

#point {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    display: none;
    font-size: 12px;
}

@media screen and (min-width: 640px) {
    #point {
        font-size: 14px;
    }
}

@media screen and (min-width: 980px) {
    #point {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    #point {
        font-size: 20px;
    }
}